{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ invoice.author.username }}</a>
                <small class="text-muted">{{ invoice.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
            <h2 class="article-title">{{ invoice.name }}</h2>
            <p class="article-content">{{ invoice.content }}</p>
            <p class="article-content">Total Amount: {{ invoice.amount }}</p>
        </div>
    </article>
{% endblock content %}
